.header {
	background-color: #f3f3f6;
}

.menu {
	display: grid;
	grid-template-columns: 360px auto auto auto auto 35px;
	height: 80px;
	align-items: center;
	justify-items: center;
	padding-right: 130px;
	padding-left: 130px;
	position: relative;
	font-size: 16px;
	line-height: 20px;
}

.header > span {
	cursor: pointer;
}

.header > span:hover {
	text-decoration: underline;
}

.language {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
	gap: 5px;
	cursor: pointer;
	font-size: 15px;
	line-height: 19px;
	justify-self: end;
}

.language:hover {
	color: #000;
}

.arrow {
	margin-right: 30px;
}

.show {
	transform: rotate(180deg);
}

.user {
	opacity: 0.6;
}

.user:hover {
	opacity: 0.9;
}

.dropdown {
	position: absolute;
	display: grid;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	line-height: 19px;
	top: 30px;
	padding: 15px 0;
	border-radius: 5px;
}

.dropdown span {
	padding: 10px 30px 5px 15px;
}

.dropdown span:hover {
	background-color: #706d6d;
}

.hide {
	display: none;
}

.hr {
	max-height: 1px;
	padding: 0 !important;
	margin: 0;
	width: 100%;
	border: 1px solid #cccccc;
}

.burgerMenu {
	display: none;
}

.menuLogo {
	margin-top: 15px;
	height: 30px;
}

.menuIcon {
	height: 15px;
	margin-bottom: 2px;
	margin-right: 10px;
}

@media screen and (max-width: 1160px) {
	.menu {
		padding: 0;
		grid-template-columns: repeat(6, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.burgerMenu {
		display: block;
	}

	.menu {
		padding-left: 100px;
	}

	.menu > div {
		display: none;
	}

	.language {
		justify-self: start;
	}
}
