.login {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

	text-align: center;
	max-width: 780px;
	width: 100%;
	margin: 50px auto;
	background: #f3f3f6;
	padding: 50px;
	border-radius: 5px;
}

.header {
	color: #252525;
	font-size: 36px;
	font-weight: 600;
}
