.countyPicker {
	display: grid;
	grid-template-columns: 1fr minmax(280px, 1200px) 1fr;
	margin-left: auto;
	margin-right: auto;
}

.countries {
	display: grid;
	grid-template-columns: repeat(6, auto);
	margin-top: 40px;
	grid-column: 2;
	gap: 20px;
}

.title {
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	justify-self: start;
	grid-column: 2;
}

@media screen and (max-width: 1260px) {
	.countyPicker {
		padding: 40px;
	}

	.title {
		font-size: 30px;
		line-height: 38px;
	}

	.countries {
		grid-template-columns: repeat(4, minmax(150px, auto));
		margin-top: 30px;
	}
}

@media screen and (max-width: 700px) {
	.countyPicker {
		padding: 20px;
	}

	.title {
		font-size: 22px;
		line-height: 28px;
	}

	.countries {
		grid-template-columns: repeat(2, minmax(120px, auto));
		margin-top: 25px;
	}
}
