.card {
	cursor: pointer;
	display: block;
	min-width: 205px;
	background: #ffffff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	z-index: 10;
	overflow: hidden;
}

.cardTop {
	max-height: 230px;
	min-height: 120px;
	position: relative;
}

.image {
	background-color: #7d7d7d;
	object-fit: cover;
	max-height: 230px;
	min-height: 120px;
	width: 100%;
	height: 100%;
}

.cardLanguages {
	position: absolute;
	display: flex;
	gap: 5px;
	top: 15px;
	left: 15px;
}

.cardLanguageItem {
	background-color: #63a583;
	color: white;
	border-radius: 5px;
	border: rgba(0, 0, 0, 0.4) 1px solid;
	padding: 5px 10px;
}

.menuIcon {
	position: absolute;
	top: 15px;
	right: 15px;
}

.dropdownWrapper {
	position: absolute;
	top: 50px;
	right: 15px;
	background-color: #fff;
	display: grid;
	gap: 10px;
	padding: 10px 0 15px 15px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	width: 180px;
	z-index: 150;
}

.dropdownWrapper p {
	font-size: 15px;
	line-height: 19px;
}

.dropdownWrapper p:hover {
	color: #000000;
}

.dropdownItemRed {
	color: #ff3535;
	font-weight: 600;
}

.dropdownItemRed:hover {
	color: #ff0e0e !important;
}

.star {
	width: 18px;
	height: 18px;
}

.sale {
	position: absolute;
	background-color: #ff3535;
	color: #fff;
	padding: 6px 20px;
	border-radius: 3px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	top: 15px;
	left: 15px;
}

.rating {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	gap: 6px;
}

.ratingCount {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #f5e027;
}

.reviewCount {
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}

.cardBottom {
	padding: 15px 20px 20px 20px;
}

.button {
	margin-top: 15px;
	width: 100%;
	height: 50px;
}

.type {
	font-weight: 600;
	font-size: 15px;
	line-height: 19px;
	color: #3762ae;
}

.title {
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 10px;
}

.info {
	position: relative;
	display: grid;
	grid-template-columns: 130px auto;
	gap: 5px;
	font-size: 14px;
	line-height: 18px;
}

.info span {
	font-size: 14px;
	line-height: 18px;
	color: rgba(37, 37, 37, 0.75);
}

.salePrice {
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	color: #ff3535;
	padding-right: 10px;
}

.oldPrice {
	font-size: 18px;
	line-height: 23px;
	text-decoration-line: line-through;
}

.addTrip {
	font-weight: bold;
}

.price {
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
}

.modal {
	position: absolute;
	border: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
	overflow: auto;
	border-radius: 10px;
	outline: none;
	text-align: center;
	padding: 25px;
}

.deleteTourItems {
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
	font-weight: 600;
}

.deleteTourItems p {
	cursor: pointer;
}

.error {
	color: #ff3535;
}

.success {
	color: #63a583;
}

@media screen and (max-width: 1260px) {
	.title {
		font-size: 17px;
		line-height: 21px;
		margin-bottom: 10px;
	}
}
