.profile {
	display: grid;
	grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
}

.profileWrapper {
	padding-top: 30px;
	grid-column: 2;
}

.breadcrumbs {
	font-size: 12px;
	line-height: 14px;
	color: #929292;
}

.title {
	grid-column: 2;
	padding-top: 15px;
	font-weight: 600;
	font-size: 30px;
	line-height: 38px;
}

.disputs {
	margin-top: 30px;
	margin-bottom: 70px;
}

@media screen and (max-width: 1260px) {
	.profile {
		grid-template-columns: 40px 1fr 40px;
	}

	.title {
		font-size: 26px;
		line-height: 33px;
	}

	.reviews {
		margin-top: 20px;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 620px) {
	.profile {
		grid-template-columns: 20px 1fr 20px;
	}
	.title {
		font-size: 20px;
		line-height: 25px;
	}
	.disputs {
		margin-top: 15px;
		margin-bottom: 50px;
	}
}
