.blog {
	display: grid;
	grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
	margin-top: 70px;
	margin-bottom: 80px;
}

.blogs {
	display: grid;
	grid-template-columns: repeat(4, auto);
	margin-top: 25px;
	gap: 20px;
	grid-column: 2;
}

.title {
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	justify-self: start;
	grid-column: 2;
}

.arrow {
	margin-left: 10px;
}

.more {
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	grid-column: 2;
}

.more:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1260px) {
	.blog {
		margin-top: 50px;
		margin-bottom: 60px;
		grid-template-columns: 40px 1fr 40px;
	}

	.blogs {
		grid-template-columns: repeat(2, auto);
	}

	.title {
		font-size: 30px;
		line-height: 38px;
	}
}

@media screen and (max-width: 660px) {
	.blog {
		margin-top: 40px;
		margin-bottom: 50px;
		grid-template-columns: 20px 1fr 20px;
	}

	.blogs {
		grid-template-columns: 1fr;
	}

	.title {
		font-size: 22px;
		line-height: 28px;
	}
}
