.carouselWrapper {
	display: grid;
	grid-template-columns: 80px 1200px 80px;
	grid-column: 2;
}

.carousel {
	margin-top: 40px;
	margin-bottom: 80px;
	grid-column: 2 / 3;
}

.swiper {
	padding: 6px !important;
}

.carouselContainer {
	grid-column: 2;
}

.arrowPrev {
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
	justify-self: start;
	grid-column: 1;
	grid-row: 1 / 2;
}

.arrowNext {
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
	justify-self: end;
	grid-column: 3;
	grid-row: 1 / 2;
}

@media screen and (max-width: 1260px) {
	.carouselWrapper {
		grid-template-columns: minmax(680px, 1200px);
	}
	.arrowPrev {
		display: none;
	}

	.arrowNext {
		display: none;
	}

	.carouselContainer {
		grid-column: auto;
	}

	.carousel {
		margin-top: 30px;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 660px) {
	.carousel {
		margin-top: 25px;
		margin-bottom: 40px;
	}
}
