.guides {
	padding-top: 60px;
	display: grid;
	grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
	justify-items: center;
}

.title {
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	justify-self: start;
	grid-column: 2;
}

@media screen and (max-width: 1260px) {
	.guides {
		grid-template-columns: 40px 1fr auto;
	}
	.title {
		font-size: 30px;
		line-height: 38px;
	}
}

@media screen and (max-width: 700px) {
	.guides {
		grid-template-columns: 20px 1fr auto;
		padding-top: 50px;
	}

	.title {
		font-size: 22px;
		line-height: 28px;
	}
}
