.disputHeader {
	display: grid;
	grid-template-columns: 75px auto;
	gap: 15px;
	margin-bottom: 10px;
}

.disputData {
	display: grid;
	gap: 5px;
}

.tourType {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #3762ae;
}

.tourTitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: #252525;
	cursor: pointer;
}

.tourTitle:hover {
	text-decoration: underline;
}

.tourDates {
	color: #929292;
}

.disputBody,
.commentBody {
	font-size: 20px;
	line-height: 25px;
}

.commentItem {
	margin-top: 30px;
	margin-left: 65px;
}

.commentContainer {
	padding-left: 15px;
	border-left: 1px solid #cccccc;
}

.commentInfo {
	display: flex;
	gap: 20px;
}

.comentUser {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
}

.commentButtons {
	display: flex;
	gap: 40px;
	margin-top: 15px;
	padding-left: 15px;
	font-weight: 600;
}

.modal {
	position: absolute;
	border: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
	overflow: auto;
	outline: none;
	padding: 30px 50px;
	border-radius: 10px;
}

.accept {
	cursor: pointer;
	color: #3762ae;
}

.accept:hover {
	color: #103780;
}

.decline {
	cursor: pointer;
	color: #ff3535;
}

.decline:hover {
	color: #c90c0c;
}

.reviewHeader {
	display: grid;
	grid-template-columns: 50px auto;
	gap: 15px;
	margin-bottom: 10px;
}

.reviewImage {
	height: 50px;
	width: 50px;
	object-fit: none;
	border-radius: 100px;
}

.reviewInfo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.commentItem {
	margin-bottom: 40px;
}

.reviewImages {
	display: flex;
	gap: 10px;
}

.reviewImageItem {
	margin-top: 10px;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

@media screen and (max-width: 1260px) {
	.disputHeader,
	.reviewHeader {
		gap: 10px;
	}
	.tourTitle,
	.tourDates,
	.disputBody,
	.commentBody,
	.comentUser,
	.accept,
	.decline {
		font-size: 17px;
		line-height: 21px;
	}
	.tourType {
		font-size: 15px;
		line-height: 19px;
	}
	.commentItem {
		margin-top: 20px;
		margin-left: 50px;
		margin-bottom: 30px;
	}
	.commentInfo {
		gap: 15px;
	}
	.reviewImageItem {
		width: 80px;
		height: 80px;
	}
}

@media screen and (max-width: 620px) {
	.disputHeader,
	.reviewHeader {
		grid-template-columns: 1fr;
	}
	.tourTitle,
	.tourDates,
	.disputBody,
	.commentBody,
	.comentUser,
	.accept,
	.decline {
		font-size: 16px;
		line-height: 20px;
	}
	.tourType {
		font-size: 14px;
		line-height: 18px;
	}
	.commentItem {
		margin-top: 15px;
		margin-left: 30px;
		margin-bottom: 20px;
	}
	.commentInfo {
		gap: 10px;
	}
	.disputImage {
		width: 40px;
		height: 40px;
	}

	.reviewImageItem {
		width: 80px;
		height: 80px;
	}
}
