.calendar {
	width: 300px;
	position: relative;
}

.calendarPicker {
	display: grid;
	gap: 10px 0;
	grid-template-columns: repeat(3, auto);
	justify-items: center;
	position: absolute;
	min-width: 300px;
	border-radius: 5px;
	box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
	border-radius: 5px;
	padding: 20px 10px;
	margin-top: 10px;
	z-index: 2000;
	background-color: #fff;
}

.calendarItem {
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #cccccc;
	border-radius: 3px;
	height: 35px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	line-height: 18px;
	color: #252525;
}

.arrowLeft,
.arrowRight {
	cursor: pointer;
}

.calendarItem:hover {
	color: white;
	background-color: #63a583;
}

.calendarYear {
	grid-column: 1 / 4;
	margin-bottom: 20px;
}

.calendarCount {
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	padding: 0 25px;
}

.calendarInput {
	padding-left: 45px;
	cursor: pointer;
}

.calendarIcon {
	position: absolute;
	z-index: 1;
	width: 20px;
	height: 20px;
	top: 15px;
	left: 10px;
}

.hide {
	display: none;
}
