.continentPick {
	display: grid;
	grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
	justify-items: center;
	display: grid;
	margin-top: 80px;
}

.continents {
	position: relative;
	grid-column: 2;
	width: 1000px;
	height: 525px;
	margin-top: 45px;
}

.title {
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	justify-self: start;
	grid-column: 2;
}

.continentsCarousel {
	display: none;
}

.continentItem {
	position: absolute;
	cursor: pointer;
}

.continentTitle {
	position: absolute;
	font-size: 14px;
	line-height: 16px;
}

.asia {
	top: 0;
	right: 10px;
}

.asia > .continentTitle {
	top: 125px;
	left: 185px;
}

.africa {
	top: 150px;
	right: 355px;
}

.africa > .continentTitle {
	top: 80px;
	left: 95px;
}

.australia {
	right: 0;
	top: 300px;
}

.australia > .continentTitle {
	top: 95px;
	left: 47px;
}

.europe {
	top: -3px;
	right: 325px;
}

.europe > .continentTitle {
	top: 92px;
	left: 125px;
}

.northAmerica {
	top: 0;
	left: 0;
}

.northAmerica > .continentTitle {
	top: 115px;
	left: 115px;
	width: 100px;
}

.southAmerica {
	top: 238px;
	left: 158px;
}

.southAmerica > .continentTitle {
	top: 85px;
	left: 85px;
	width: 100px;
}

.continentItem:hover img {
	filter: brightness(0.7);
}

@media screen and (max-width: 1260px) {
	.continentPick {
		margin-top: 50px;
		grid-template-columns: 40px 1fr auto;
	}

	.continents {
		width: 915px;
		margin-top: 30px;
	}

	.title {
		font-size: 30px;
		line-height: 38px;
	}

	.continentTitle {
		position: absolute;
		font-size: 12px;
		line-height: 15px;
	}

	.asia {
		width: 300px;
		top: -3px;
		right: 184px;
	}

	.africa {
		width: 168px;
		top: 150px;
		left: 298px;
	}

	.australia {
		width: 105px;
		right: 85px;
		top: 300px;
	}

	.europe {
		width: 177px;
		top: 0;
		right: 442px;
	}

	.northAmerica {
		width: 330px;
		left: -111px;
	}

	.southAmerica {
		width: 132px;
		top: 238px;
		left: 44px;
	}
}

@media screen and (max-width: 880px) {
	.title {
		font-size: 22px;
		line-height: 28px;
	}

	.continents {
		display: none;
	}

	.continentsCarousel {
		display: block;
		grid-column: 2 / 3;
	}

	.continentItem,
	.continentTitle {
		position: initial;
	}

	.continentItem {
		display: grid;
		gap: 20px;
	}

	.continentTitle {
		font-size: 18px;
		line-height: 20px;
		justify-self: center;
	}

	.continentImage {
		max-height: 160px;
	}
}

@media screen and (max-width: 680px) {
	.continentTitle {
		font-size: 15px;
		line-height: 16px;
	}

	.continentImage {
		max-height: 140px;
	}
}
