@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	color: #252525;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 23px;
}

a,
img,
button {
	transition: 0.3s all ease;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
