.tourTypes {
	display: grid;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.toures {
	display: grid;
	grid-template-columns: repeat(4, auto);
	margin-top: 45px;
	gap: 20px;
}

.toures > div {
	max-height: 190px;
}

.title {
	font-weight: 600;
	font-size: 36px;
	line-height: 45px;
	justify-self: start;
	grid-column: 1;
}

@media screen and (max-width: 1260px) {
	.title {
		padding-left: 40px;
		font-size: 30px;
		line-height: 38px;
	}

	.toures {
		grid-template-columns: repeat(4, auto);
		margin-top: 30px;
		gap: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (max-width: 800px) {
	.tourTypes {
		margin-top: 50px;
	}

	.toures > div {
		max-height: 180px;
	}

	.title {
		padding-left: 60px;
		font-size: 22px;
		line-height: 28px;
	}

	.toures {
		grid-template-columns: repeat(2, auto);
		margin-top: 25px;
		padding-right: 60px;
		padding-left: 60px;
	}
}

@media screen and (max-width: 660px) {
	.tourTypes {
		margin-top: 40px;
	}

	.toures {
		padding-right: 20px;
		padding-left: 20px;
	}
}
