.notFound {
	min-height: 80vh;
	align-content: center;
	justify-items: center;
	text-align: center;
	display: grid;
	grid-template-columns: auto minmax(320px, 1200px) auto;
}

.notFoundWrapper {
	grid-column: 2;
}

.title {
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 10px;
	padding-top: 60px;
}
